body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  border-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --black-color: #000000;
  --dark-background: #2F303A;
  --light-background: #F5F4FA;
  --icon-filler: #AFB1B8;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-btn .open-menu {
  display: block;
}

.menu-btn.is-open .open-menu {
  display: none;
}

.menu-btn .close-menu {
  display: none;
}

.menu-btn.is-open .close-menu {
  display: block;
}

.menu-btn {
  display: block;
  margin-left: auto;
  position: static;
  z-index: 2;
  background-color: transparent;
  padding: 0;
  transition: color 250ms var(--animation-timing-function);
  cursor: pointer;
}

.menu-btn:focus, .menu-btn:hover {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.mob-menu {
  z-index: 1;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-white-color);
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  transition: opacity 250ms var(--animation-timing-function);
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.mob-nav {
  margin-bottom: 302px;
}

.mob-nav__item {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms var(--animation-timing-function);
}

.mob-nav__item:focus, .mob-nav__item:hover {
  color: var(--accent-color);
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacts {
  margin-bottom: 64px;
}

.mob-contacts__tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.15px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 420px) {
  .mob-contacts__tel {
    font-size: 24px;
  }
}

.mob-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: --primary-text-color;
  transition: color 250ms var(--animation-timing-function);
}

.mob-contacts__mail:hover, .mob-contacts__mail:focus {
  color: var(--accent-color);
}

.mob-soc__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mob-soc_item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 420px) {
  .mob-soc_item {
    font-size: 16px;
  }
}

.mob-soc_item:not(:first-child) {
  padding-left: 10px;
}

.mob-soc_item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.current {
  color: var(--accent-color);
  position: relative;
}

@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--accent-color);
    height: 4px;
    border-radius: 2px;
    width: 100%;
  }
}

.close-menu:hover .current, .close-menu:focus .current {
  display: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo {
    line-height: 1.16;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--header {
  margin-right: 93px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo--footer {
    margin-left: 76px;
  }
}

.logo--accent {
  color: var(--accent-color);
}

.logo--dark {
  color: var(--black-color);
}

.logo--light {
  color: var(--primary-white-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

.header .container {
  display: flex;
  align-items: center;
}

.menu .list {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .contacts .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts .list {
    flex-direction: row;
    align-items: center;
  }
}

.menu__item:not(:first-child) {
  margin-left: 50px;
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:first-child) {
    margin-top: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:first-child) {
    margin-left: 30px;
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.contacts {
  display: block;
  align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

.header__link {
  display: flex;
  align-items: center;
  transition: color 250ms var(--animation-timing-function);
}

.header__link:hover.contacts-icon {
  fill: var(--accent-color);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.menu__item .header__link {
  padding: 33px 0;
}

.menu__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}

.contacts__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    font-size: 14px;
  }
}

.hero {
  text-align: center;
  margin: 0 auto;
  background: var(--dark-background);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/Header-mob-x1-min.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/Header-mob-x2-min.jpg);
  }
}

@media screen and (min-width: 576px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/Header-tab-x1-min.jpg);
  }
}

@media screen and (min-width: 576px) and (min-device-pixel-ratio: 2), screen and (min-width: 576px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 576px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/Header-tab-x2-min.jpg);
  }
}

@media screen and (min-width: 960px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/Header-desk-x1-min.jpg);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 960px) and (min-device-pixel-ratio: 2), screen and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 960px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/Header-desk-x2-min.jpg);
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  align-items: center;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  transition: background-color 250ms var(--animation-timing-function);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: scale(1.2) translate(-50%, -50%);
  transform-origin: center;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--animation-timing-function), visibility 250ms var(--animation-timing-function);
  overflow-y: scroll;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  height: 609px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--animation-timing-function), opacity 250ms var(--animation-timing-function), visibility 250ms var(--animation-timing-function);
  transform-origin: center;
}

@media screen and (max-width: 479px) {
  .modal {
    width: calc(100% - 30px);
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transition: border-color 250ms var(--animation-timing-function), opacity 250ms var(--animation-timing-function), visibility 250ms var(--animation-timing-function);
  outline: none;
}

.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}

.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__text {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  padding: 12px 16px;
  transition: border-color 250ms var(--animation-timing-function), opacity 250ms var(--animation-timing-function), visibility 250ms var(--animation-timing-function);
  outline: none;
}

.modal__text:hover, .modal__text:focus {
  border-color: var(--accent-color);
}

.modal__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__input-div {
  position: relative;
}

.modal__label {
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--animation-timing-function);
}

.agreement {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.agreement__text {
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  padding-left: 20px;
}

@media screen and (min-width: 1200px) {
  .agreement__text {
    padding-left: 24px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.agreement__icon {
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: transparent;
  transition: background-color 250ms var(--animation-timing-function), box-shadow 250ms var(--animation-timing-function), border-style 250ms var(--animation-timing-function);
}

@media screen and (min-width: 1200px) {
  .agreement__icon {
    left: 13px;
  }
}

.checkbox:checked + .agreement__icon {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: none;
  border-style: none;
}

.agreement__link {
  color: var(--accent-color);
  text-decoration-line: underline;
  border: none;
}

.agreement__submit {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-white-color);
  cursor: pointer;
  transition: background-color 250ms var(--animation-timing-function);
}

.agreement__submit:hover, .agreement__submit:focus {
  background-color: #188CE8;
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  cursor: pointer;
  transition: border-color 250ms var(--animation-timing-function), fill 250ms var(--animation-timing-function);
}

.close-button:hover, .close-button:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.qualities {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (width: 1200px) {
  .qualities {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

@media screen and (min-width: 480px) {
  .qualities__list {
    display: block;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) {
  .qualities__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .qualities__list {
    margin-bottom: 0;
  }
}

.qualities__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .qualities__item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .qualities__item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .qualities__item {
    margin-bottom: 0px;
    width: 270px;
  }
}

.qualities__pic {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--light-background);
}

.qualities__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.146;
  text-transform: uppercase;
  color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .qualities__title {
    text-align: left;
  }
}

.qualities__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.activity {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity__title {
  margin-bottom: 50px;
}

.activity__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity__item {
  position: relative;
  z-index: 0;
}

.activity__overlay {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity__text {
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.team {
  background-color: var(--light-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .team__list {
    display: block;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.team__list img {
  margin-bottom: 30px;
}

.team__card {
  margin-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) {
  .team__card {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .team__card {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__card {
    margin-bottom: 0px;
    width: 270px;
  }
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-bottom: 24px;
  transition: background-color 250ms var(--animation-timing-function), fill 250ms var(--animation-timing-function);
}

@media screen and (min-width: 1200px) {
  .socials__item {
    margin-bottom: 30px;
  }
}

.socials__item:hover, .socials__item:focus {
  background-color: var(--accent-color);
}

.socials__item:hover .socials__icon {
  fill: var(--primary-white-color);
}

.socials__item:focus .socials__icon {
  fill: var(--primary-white-color);
}

.socials__icon {
  display: flex;
  align-items: center;
  fill: var(--icon-filler);
}

.socials__li:not(:last-child) {
  margin-right: 10px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__list {
  margin-bottom: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .clients__list {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.clients__list .clients__icon {
  fill: var(--icon-filler);
}

.clients__list .clients__item {
  width: 210px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid var(--icon-filler);
  box-sizing: border-box;
  border-radius: 4px;
  transition: box-shadow 250ms var(--animation-timing-function), border-color 250ms var(--animation-timing-function), fill 250ms var(--animation-timing-function);
}

@media screen and (min-width: 768px) {
  .clients__list .clients__item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list .clients__item {
    width: 170px;
    margin-bottom: 0;
  }
}

.clients__list .clients__item:hover {
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clients__list .clients__item:focus {
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clients__list .clients__item:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__list .clients__item:hover .clients__icon {
  fill: var(--accent-color);
}

.footer {
  background: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    text-align: left;
    flex-wrap: nowrap;
  }
}

.address {
  margin-bottom: 60px;
  margin-top: 20px;
  font-style: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    margin-left: 76px;
  }
}

.address__list li:not(:last-child) {
  margin-bottom: 9px;
}

.address__map {
  color: var(--primary-white-color);
}

.address__text {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover, .footer-link:focus {
  color: var(--accent-color);
}

.join {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .join {
    margin-top: 5px;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-top: 12px;
    margin-left: auto;
    margin-bottom: 0;
  }
}

.join__title, .subscribe__title {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .join__list {
    justify-content: unset;
  }
}

.join__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__item:hover, .join__item:focus {
  background-color: var(--accent-color);
}

.join__list li:not(:last-child) {
  margin-right: 10px;
}

.join__icon {
  fill: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .subscribe {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-top: 12px;
    margin-left: 93px;
  }
}

.subscribe__button {
  display: inline-flex;
  padding: 10px 29px 10px 28px;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 250ms var(--animation-timing-function);
}

.subscribe__button:hover, .subscribe__button:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

.subscribe__input {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 30px);
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filters__button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--light-background);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  transition: box-shadow 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function), background-color 250ms var(--animation-timing-function);
}

.filters__button:active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.filters__button:hover, .filters__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
}

.filters {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .filters {
    margin-top: 0px;
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.filters li {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .filters li {
    margin-top: 0px;
  }
}

.filters li:not(:last-child) {
  margin-right: 8px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.porfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

@media screen and (min-width: 768px) {
  .porfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.porfolio__list li:not(:first-child) {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .porfolio__list li {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .porfolio__list li {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .tech {
    height: 143px;
  }
}

.portfolio__info {
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.portfolio__card {
  transition: box-shadow 250ms var(--animation-timing-function);
}

.portfolio__card:hover .portfolio__slide, .portfolio__card:focus .portfolio__slide {
  transform: translateY(0);
}

.portfolio__card:hover, .portfolio__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--animation-timing-function);
}
/*# sourceMappingURL=main.css.map */