  .current {
    color: var(--accent-color);
    position: relative;
    
}

.current::after {
 @media screen and(min-width:768px) {
  content: "";
  position: absolute;
  bottom: 0;
     background-color: var(--accent-color);
    height: 4px; 
    border-radius: 2px;
     width: 100%; 
   
  }

}
.close-menu:hover .current, .close-menu:focus .current {
  display: none;
}


   