
  .section__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    line-height: 1.17;
    @media screen and (min-width:1200px) {
    font-size: 36px;
    
    }
    
    text-align: center;  
    color: var(--title-text-color);
  }

