:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --black-color: #000000;
    --dark-background: #2F303A;
    --light-background: #F5F4FA;    
    --icon-filler: #AFB1B8;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
